<mat-toolbar class="toolbar" color="primary">
  <span>My App</span>
  <div class="routers">
    <button mat-icon-button routerLink="/main/people">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/main/products">
      <mat-icon>shop</mat-icon>
    </button>

    <button mat-button routerLink="/auth/register">
      <mat-icon>person_add</mat-icon>
      Sign up
    </button>
    <button mat-button routerLink="/auth/login">
      <mat-icon>input</mat-icon>
      Sign in
    </button>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
